h1{
    text-align:center;
    padding-bottom: 50px;
    padding-top :10px;
    border: 1px solid #ededed;
    font-family: 'Coda', cursive;

}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    


}
.container{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    width: 270px;
    height: 500px;
    box-shadow: 0 0 10px 20px rgba(0,0,0,.2);
    border-radius :15px;
    overflow: hidden;
    font-family: 'Poppins',sans-serif;
    background:#000;


}
.image{
    width: 100%;
    height: 230px;
    background:url("coinview-app-h7a6g0ua6LM-unsplash.jpg") center/cover;
}
.content{
    width: 100%;
    height: 270px;
    background: #F6FBFB;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-evenly;

}
.review{
    width: 240px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content:space-between;
    font-weight: 200px;
}
.stars.fa{
    font-size: 7rem;
    color: #f9caf9 lc;
    
}
.stars span{
    font-size:.6rem;
    padding-right:.3rem;
    color: #bfbfbf;
}
.review h5{
    font-size :1.2rem;

}
.name,.details{
    width:240px;

}
.details p{
    color:#bfbfbf;
    font-size: .6rem;
}
.btn-box,.btn{
    display:flex;
    align-items:center;

}
.btn{
    width:160px;
    height:50px;
    background:#121212;
    color:#fff;
    font-size:.8rem;
    justify-content:space-evenly;
    border-radius :15px;
    box-shadow: 15px;
    box-shadow:0 10px 10px rgba(0,0,0,0.2);
    transition: 2s;
    
    

}
.btn:hover{
     cursor: pointer;
}
.cart-icon,.like{
    width:35px;
    height:35px;
    border-radius: 50%;
    text-align: center;
    line-height:35px;
    background:#333333;

}
.like{
    background:#ededed;
}